<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Clases de música</title>
  </head>
  <body class="bodyClasesDeMusica">
    <header class="header">
      <div class="header-content">
        <h1 class="tituloDieguitarra">Dieguitarra</h1>
        <!-- header es el encabezado-->
        <nav class="links">
          <a href="../index.html">Volver</a>
          <a href="../views/sobremi.html">Sobre mí</a>
          <a href="../views/contacto.html">Contacto</a>
          <a href="https://www.youtube.com/user/Musiqueeee" target="_blank"
            >Canal de Youtube</a
          >
        </nav>
      </div>
    </header>
    <h1 class="tituloClasesDeMusica">Clases de música</h1>
    <div class="clasesDeMusicaDiv">
      <iframe
        src="https://www.youtube.com/embed/d5BoGROBYyc"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <iframe
        src="https://www.youtube.com/embed/AYLS1TOnO9Y"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="parrafoClasesDeMusica">
      Clases de música para todos lo niveles y edades, disponibilidad horaria.
      Clases de guitarra, piano, bajo y fagot online y presencial.
    </p>
  </body>
</html>
