<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sobre mí</title>
  </head>
  <body class="bodySobreMi">
    <header class="header">
      <div class="header-content">
        <h1 class="tituloDieguitarra">Dieguitarra</h1>
        <!-- header es el encabezado-->
        <nav class="links">
          <a href="../index.html">Volver</a>
          <a href="../views/contacto.html">Contacto</a>
          <a href="../views/clasesdemusica.html">Clases de música</a>
          <a href="https://www.youtube.com/user/Musiqueeee" target="_blank"
            >Canal de Youtube</a
          >
        </nav>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="info">
          <h1 class="h1SobreMi">Sobre mí</h1>
          <h3 class="subtituloSobreMi">Diego López</h3>
          <p class="text">
            Diego López es un músico multi instrumentista y compositor. Empezó
            en la música a los 14 años tocando la guitarra, luego el piano y a
            los 19 años comenzó su formación académica en el conservatorio en la
            especialidad de piano. 5 años después empezó la carrera de
            composición en simultáneo y luego de 3 años de hacer las dos
            carreras dejó la carrera de piano y comenzó a estudiar fagot
            siguendo con composición. Con el fagot entró a la Orquesta
            Estudiantil de Buenos Aires y a la Orqesta Municipial de José C.
            Paz.Además de estas orquestas a las cuales entro por audición él
            toca en la orquesta del Conservatorio de la Ciuidad (el Astor
            Piazzolla). Como compositor tiene compuestas una sonata para piano,
            un tema con variaciones de un tema de Shubert, un cuarteto de
            cuerdas, un sexteto de cámara y una sinfonía. Actualtmente se
            encuentra componiendo una obra de cámara para 12 músicos. Como
            docente él dio clases de guitarra y de piano durante más de 10 años
            de manera particular, dándole clases tanto a adultos como a niños y
            adolecentes.
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
